#menuops ul li {
margin :10px;
display:inline;}
html{
	height:100%;
}
body {
  padding-top:70px;
  height:100%;
}

#wrap
{
min-height: 92%;
}

.push
{
	padding-bottom:-10px;
 /* this needs to be bigger than footer height*/
}

.footer
{
position: relative;

 /* negative value of footer height */

clear:both;

color:#fff;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
#main{
	padding-top:0px;
}